.App{
  height: 100vh;
}
.navigation{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.navigation ul {
    list-style-type: none;
}

@media screen and (max-width:576px){
  
}